<template>
  <div class="twitter-scraping-container">
  </div>

  <div id="ext-dashboard-side-panel" class="ext-dashboard-side-panel popup-hidden">
      <div class="ext-close-btn" v-on:click="closepopup">X</div>
      <h2>Scrapping data in progress. Please keep this tab open</h2>
  </div>
</template>

<script>

import icon from "../assets/icon.png";
import $ from "jquery";
import swal from 'sweetalert2';
import moment from 'moment';
import { ExportToCsv } from 'export-to-csv';

//Global variables and data use through out page's sesion
var url;
var currentPageType;
var isPageLoaded = false;
var vm;
var lastPostDate,prevLastDate;
var scrollInterval,executePostCheckInterval;
var prevDocumentHeight; //document height for current page
var noTitleFound = "No title assigned";
var twitterDateFormat = 'MMMM D, YYYY';
var printDateFormat = 'MMMM DD, YYYY';
var mainContainerDom = "main[role='main'] section[role='region']";
var prevCount = -1;

export default {
  name: 'twitter-parser',
  data () {
    return {
      scrollWaitingTime: 4000, //scrolling waiting time in milliseconds
      runPostCheckTimer:1000,
      postLoadDelay: 500,
      scrollIncrements: 800,
      waitUrlLoadTimer: 10000,
      parsingPostsStarted:false,
      parsingPostsInProgress:false,
      parsingPostsComplete:false,
      isCanceled:false,
      showRangeProgressBar:false,
      totalDays:0,
      currentDays:0,
      totalDaysScrolled:0,
      parsedPosts:[],
      previousPosts:[],
      tweetIds:[],
      maxTweetsCount: 4,//100,
      tweetFilter:1, //1 - top tweets, 2- newest tweets
    }
  },
  watch: {

  },
  mounted: function () {
    var vm = this;     

    //load stored data
    // currently not used since twitter doesnt refresh page on filter update.
    chrome.storage.local.get(['tweetFilter'],function(obj){

      if(obj != undefined && obj.tweetFilter != undefined && obj.tweetFilter == 2)
      {
        //start parsing right away, this is a parsing follow up
        vm.startScan();
        
      
      }

    });
  },
  updated(){ 
          
  },
  methods: {
    closepopup:function(){
      $("#ext-dashboard-side-panel").addClass("popup-hidden");
    },
    stopScrollingTask: function(){
      clearInterval(scrollInterval);
    },
    cancelScan: function(){
      var vm = this;

      vm.isCanceled = true;
      vm.stopScrollingTask();
      vm.resetData();

      //close progress window if open
      if($("#ext-dashboard-side-panel").length)
        $(".ext-close-btn").get(0).click();

      //Update popup with current page type and page loaded state
      chrome.runtime.sendMessage({"command": "parse-canceled"});                  
    },
    resetData:function(){
      this.parsingPostsStarted = false;
      this.parsingPostsComplete = false;
      this.parsingPostsInProgress = false;
      this.showRangeProgressBar = false;
      this.totalDaysScrolled = 0;
      this.currentDays = 0;
      this.parsedPosts = [];
      this.tweetIds = [];      

      chrome.storage.local.set({"parsingPostsStarted":this.parsingPostsStarted});
      chrome.storage.local.set({"currentDays":0});
      chrome.storage.local.set({"totalDaysScrolled":0});
      chrome.storage.local.set({"totalDays":0});
      chrome.storage.local.set({"parsedPosts":this.parsedPosts });
      chrome.storage.local.set({"showRangeProgressBar":this.showRangeProgressBar});

    },
    startScan: function(){

      //check if not in home page
      if(!window.location.href.includes("/home"))
      {
        swal.fire({
          title: "Failed to load new tweets",
          text: "Make sure you are on the home twitter page before starting",
          icon:  "warning",
          //timer: 3000,
          backdrop: false,
        });
        return
      }
      this.isCanceled = false;
      //reset scroll to top
      window.scrollTo(0, 0);

      prevDocumentHeight = -1;
      prevCount = -1;

      //parse newly loaded tweets otherwise
      //reset posts for a new run
      this.parsedPosts = [];   

      //prevDocumentHeight = this.performPageScroll();

      scrollInterval = setInterval(this.performPageScroll, this.scrollWaitingTime);

      this.parsingPostsStarted = true;

      chrome.storage.local.set({"parsingPostsStarted":this.parsingPostsStarted});

    },
    startWindowDom: function(){
      $("#ext-dashboard-side-panel").removeClass("popup-hidden")      
    },
    performPageScroll: function(){

      var vm = this;
      //canceled event will handle stopping interval any other clean up needed so simply return on cancel
      if(vm.isCanceled)
      {
        return -1;
      }

      //stores the max day reached while scrolling to update the progress bar
      var maxDayReached = 0;      

      //load number of tweets
      //var currentTweetCount = $(mainContainerDom).first().find('.css-1dbjc4n .css-1dbjc4n > article').length;

      //scroll complete
      var content_height = $(document).height();

      var content_scroll_pos = $(window).scrollTop();

      //check if target number of tweets loaded, stop scrolling
      if(vm.parsedPosts.length >= vm.maxTweetsCount)
      {
        //no more scrolling needed, all posts are loaded, start parsing
        vm.scanComplete();
        

        return prevDocumentHeight;
      }  
      
      var newPostsLoaded = false;

      //loop on currently showing tweets
      $(mainContainerDom).first().find('.css-1dbjc4n .css-1dbjc4n > article').each(function()
        {
          if(vm.isCanceled)
          {
            return false;
          }

          var tweet = $(this);

          //make sure it is an actual tweet othwerwise continue to next one
          if(tweet.parents('div[data-testid="placementTracking"]').length)
            return;          

          var tweetId = vm.getTweetId(tweet);

          //check tweet id to prevent duplicate tweets
          if(vm.tweetIds.includes(tweetId))
            return;

          newPostsLoaded = true;

          var mediaSrcs = "";

          tweet.find('img').each(function(){
            mediaSrcs += $(this).attr('src')+",";
          });


          tweet.find('video').each(function(){
            mediaSrcs += $(this).attr('src')+",";
          });

          var tweetText = ""; //tweet.text();

          tweet.find("div,span,p,a").each(function(){

            //skip comments, replies and like values
            if($(this).parents('div[role="group"]').length)
              return;

            if($(this).contents().length)
            {

              var node =$(this).contents().filter(function(){ 
                return this.nodeType == 3; 
              });

              if(node.length)
              {
                tweetText += $(this).contents().filter(function(){ 
                  return this.nodeType == 3; 
                })[0].nodeValue;

                tweetText += " ";
              }
            }
          })

          if( vm.parsedPosts.length < vm.maxTweetsCount)
            vm.parsedPosts.push([vm.parsedPosts.length +1, tweetText,mediaSrcs, document.querySelector("div[role='presentation'] a[aria-selected='true']").textContent]);  

          console.log((vm.parsedPosts.length) +" - "+ vm.parsedPosts[vm.parsedPosts.length-1]);
          vm.tweetIds.push(tweetId); 
        }
      );


      //check in case postas are not loading, warn user
      if(prevCount == vm.parsedPosts.length && !newPostsLoaded && prevDocumentHeight == content_scroll_pos)
      {
        swal.fire({
          title: "Failed to load new tweets",
          text: "Extension encountered an error loading more tweets. Please check your connection and run it again",
          icon:  "warning",
          //timer: 3000,
          backdrop: false,
        });

        //end parsing
        vm.cancelScan();
      } 

      prevDocumentHeight = content_scroll_pos;
      prevCount = vm.parsedPosts.length;

      //start scrolling animation
      $("html, body").animate({ scrollTop: content_scroll_pos+ vm.scrollIncrements }, 1000,function(){});

      return prevDocumentHeight;

    },
    getTweetId: function(element){

      var elementIds = element.attr("aria-labelledby");
      return elementIds.substr(0,elementIds.indexOf(' '));
    },
    scanComplete: function(){ 

      var vm = this;

      vm.stopScrollingTask();
      //finished looping over posts
      console.log("posts parsed:");
      console.log(vm.parsedPosts);

      vm.parsingPostsStarted = false;
      vm.parsingPostsInProgress = false;
      vm.parsingPostsComplete = true;


      //Update popup incase it is open
      chrome.runtime.sendMessage({"command": "parse-completed"});      

      if(vm.tweetFilter == 1)
      {
        //starting filter by new
        vm.tweetFilter = 2;
        chrome.storage.local.set({"tweetFilter":vm.tweetFilter});
        //store parsedPosts
        //chrome.storage.local.set({"parsedPosts":vm.parsedPosts});
        vm.previousPosts = vm.parsedPosts

        //handle clicks to update sorting filter
        if($("div[role='presentation'] a[aria-selected='false']").length)
        {
          $("div[role='presentation'] a[aria-selected='false']").get(0).click();          
        }

        setTimeout(function(){
          //$(' div[role="menu"] div[role="menuitem"]').get(0).click();  
            vm.startScan();    
        },1500)

      }
      else{
        //end parsing
        //reset filters
        vm.tweetFilter = 1;
        chrome.storage.local.set({"tweetFilter":vm.tweetFilter});

        vm.parsedPosts.push(...vm.previousPosts)

        console.log(vm.parsedPosts,vm.previousPosts)

        vm.exportCSV(vm.parsedPosts);

        // chrome.storage.local.get("parsedPosts",(obj) => {
          
          

        //   if(obj.parsedPosts)
        //   {
        //     const previousPosts = Array.from(obj.parsedPosts)
        //     console.log("previousPosts")
        //     previousPosts.forEach((post) => {
        //       vm.parsedPosts.push(post)
        //     });

        //     for(const key in obj.parsedPosts)
        //     {
        //       console.log(`${key}:${obj.parsedPosts[key]}`)
        //       vm.parsedPosts.push(obj.parsedPosts[key])
        //     }
        //   }

        //   console.log(obj.parsedPosts,vm.parsedPosts)

        //   //export parsed tweets and then update filter if needed
        //   vm.exportCSV(vm.parsedPosts);

        //   //clear stored data
        //   chrome.storage.local.remove(["parsedPosts"]);

        // })

        //close progress window if open
        if($("#ext-dashboard-side-panel").length)
          $(".ext-close-btn").get(0).click();
      }

    },
    exportCSV: function(rows){

      var vm = this;

      var isTrending = true;

      if(!$('div[aria-label="Top Tweets on"]').length)
      {
        isTrending = false;         
      }

      var filename = isTrending ? "trending_tweets_"+moment().format(printDateFormat):"latest_tweets_"+moment().format(printDateFormat);

      //export parsedPosts array to csv     
      const options = { 
        filename:filename,
        fieldSeparator: ',',
        quoteStrings: '"',
        decimalSeparator: '.',
        showLabels: true, 
        showTitle: false,
        title: 'Tweets CSV',
        useTextFile: false,
        useBom: true,
        useKeysAsHeaders: false,
        headers: ["Row","Tweet","Media Source(s)","Tab Source"],
      };
     
      const csvExporter = new ExportToCsv(options);
       
      csvExporter.generateCsv(rows);

    },
  }
}


</script>


<style lang="less">
  
  
</style>

