<template>
  <div class="main_app">
    <div id="ext-popup-container" class="ext-popup-container">
      <div class="pop-content" v-if="isPageLoaded">
        <div class="ext-body ext-body-empty" v-if="parsingPostsStarted">
          <h3 class="main-title">Parsing in progress ..</h3>
          <button v-on:click="cancelParsing">Cancel parsing</button>
        </div>
        <div class="ext-body ext-body-search" v-else>
          <button v-on:click="startParsing">Start parsing</button>
        </div>
      </div>

      <div class="page-not-loaded-content" v-else>
        <div class="ext-body">
          <h3 class="main-title">Please wait for page to load</h3>
          <p v-if="additionalTip" class="hint">Try refreshing the page if it takes too long</p>
        </div>
      </div>
  </div>
  
</div>
</template>

<script>

import icon from "../assets/icon.png";
import $ from "jquery";

export default {
  name: 'popupView',
  data () {
    return {
      isPageLoaded: false,
      additionalTip: false,
      parsingPostsStarted:false,
      parsingPostsComplete: false,
    }
  },
  watch: {

  },
  mounted: function () {  

    var vm = this;
    
    //load stored data
    /*chrome.storage.local.get(['parsingPostsStarted'],function(obj){

      if(obj != undefined && obj.parsingPostsStarted != undefined && obj.parsingPostsStarted )
      {
        //start parsing right away, this is a parsing follow up
        vm.parsingPostsStarted = true;              
      }

    });*/

    //check if page is loaded
    chrome.tabs.query({active: true, currentWindow: true}, function(tabs) {
        chrome.tabs.sendMessage(tabs[0].id, {"command": "is-page-loaded"}, function(response) {
            console.log(response);
        });
    });

    //keep checking until facebook page is loaded
    var hasPageLoadedInterval = setInterval(function(){

        //page has been loaded, end checks. Otherwise check with content script
        if(vm.isPageLoaded)
        {
          clearInterval(hasPageLoadedInterval);

        }
        else
        {
          chrome.tabs.query({active: true, currentWindow: true}, function(tabs) {
              chrome.tabs.sendMessage(tabs[0].id, {"command": "is-page-loaded"}, function(response) {
                  console.log(response);
              });
          });

          //show additional tip if page failed to load
          setTimeout(function(){
            vm.additionalTip = true;
          }, 2000)
        }                          
    }, 1000)

    //handle extension events
    chrome.runtime.onMessage.addListener(function(request, sender, sendResponse)
    {
      if(request.command == "page-loaded")
      {
        //if page has loaded, store current page type and update UI
        if(request.isPageLoaded)
        {
          vm.isPageLoaded = request.isPageLoaded;
          vm.parsingPostsStarted = request.parsingPostsStarted;
        }

      }
      else if(request.command == "parse-completed")
      {
        vm.parsingPostsStarted=false;
        vm.parsingPostsComplete = true;

        chrome.storage.local.set({"parsingPostsStarted":false});

      }
      else if(request.command == "parse-canceled")
      {
        vm.cancelParsing();

      }
      else if(request.command == "day-update")
      {
        vm.totalDaysScrolled = request.totalDaysScrolled;   
        vm.currentDays = request.currentDays;   
        vm.showRangeProgressBar = request.showRangeProgressBar;   
      }


    });
  },
  updated(){ 
  
  },
  methods: {
    resetData:function(){
      var vm = this;

      vm.parsingPostsStarted = false;
      vm.parsingPostsComplete = false;
      vm.additionalTip = false;

      chrome.storage.local.set({"parsingPostsStarted":this.parsingPostsStarted});
      chrome.storage.local.set({"additionalTip":this.additionalTip});
      chrome.storage.local.set({"parsingPostsComplete":this.parsingPostsComplete});

      
    },
    startParsing:function(){
      this.parsingPostsStarted = true;
      this.parsingPostsComplete = false;

      var vm = this;
      //send scan command to content script
      chrome.tabs.query({active: true, currentWindow: true}, function(tabs) {
          chrome.tabs.sendMessage(tabs[0].id, {"command": "start-scan"}, function(response) {
              vm.parsingPostsStarted = true;
              console.log(response);
          });
      });
    },
    cancelParsing: function(){

      var vm = this;
      //send cancel command to content script
      chrome.tabs.query({active: true, currentWindow: true}, function(tabs) {
          chrome.tabs.sendMessage(tabs[0].id, {"command": "cancel-scan"}, function(response) {
              console.log(response);
          });
      });

      vm.resetData();
    },
  }
}

</script>

<style lang="less">
.main_app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  min-width: 150px;
  padding: 20px;
}
</style>
